body{
    width: 100%;
    background-color: rgb(40,40,40);
    font: helvetica;
    color:rgb(217, 221, 220);
    display: flex;
    justify-content: center;
}


#title{
    margin-bottom: 50px;
}
h1{
    font-size: 30px;
    margin-bottom: 0px;
}

#title p{
    margin-top: 5px;
}

.bleu{
    color :rgb(54, 123, 212);
}

/* Creation Grid Template Area */
#grid{
    display: grid;
    width: 100%;
    grid-template-areas:
    "nav nav nav"
    "vinyl comments contacts"
    "digital comments contacts"
    "footer footer footer";
    grid-template-columns: 500px 500px 200px;
    grid-template-rows: 60px 600px 600px 60px;
    row-gap: 10px;
    column-gap: 10px; 
    opacity: 100%;
    z-index: 4;
}


/*Stylisation navig en flexbox */
nav{
    grid-area: nav;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 16px;
    height : 50px;
    font-weight: bold;
    list-style: none;
    background-color: rgb(30,30,30);
    margin-bottom: 30px;
}

a{
    margin-right: 20px;
    text-decoration: none;
    color :rgb(220, 220, 220);
}


a:link{
    text-decoration: none;
    color:rgb(220, 220, 220);
}
a:visited{
    text-decoration: none;
    color :rgb(220, 220, 220);
}
a:hover{
    text-decoration: underline;
    color :rgb(220, 220, 220);
    cursor : pointer;
}
a:active{
    text-decoration:none;
    color :rgb(220, 220, 220);
}


/*Stylisation Section Vinyl*/
#vinyl{
    grid-area: vinyl;
}

#vimg{
    display: flex;
    margin-right: 10px;
}

.img-container-1{
    display: flex;
    height: 50px;
    width: 70px;
    padding : 0 10px;
}
.img-container-1:hover{
    cursor: pointer;
}

.img-container-1 img{
    height: 100%;
    width: 100%;
}


/*Stylisation Section Comment */
#comments{
    grid-area: comments
}

#maincover{
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
}
#maincover:hover{
    cursor: pointer;
}

.combox {
    display: inline-flex;
}
.combox p{
    margin-top:0;
    font-weight: bolder;
    font-style: italic;

}
.combox span{
    font-weight: lighter;
    font-style: normal;
}

.picbox{
    display: inline-flex;
    height: 40px;
    width: 40px;
    margin-right: 5px
}


#digital{
    grid-area: digital;
}


/*Stylisation Section Contacts */
#contacts{
    grid-area: contacts;
}

h3{
    margin: 0 0
}
#contacts p{
    margin-top: 0px;
}


#bouton{
    height: 40px;
    width: 120px;
    background-color:rgb(54, 123, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(54, 123, 212);
    border: 1px solid rgb(54, 123, 212);
    border-radius: 2px;
    color: white;
}

#bouton:hover{
    cursor: pointer;
}

/*Stylisation Footer */
footer{
   grid-area: footer;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
#logo-container{
    width: 120px;
    height: 30px;
}
footer img{
    width: 100%;
    height: 100%;
}

/*Responsive Design */
@media only screen and (max-width:768px){ 
    #grid{
        width: 100%;
        display: block;
        justify-content: center;
    }

    #vinyl{
        max-width: 300px;
    }

    .coms {
        max-width: 300px;
    }

    #title{
        margin-bottom: 180px;
    }

    #maincover{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 150px;
        height: 150px;
        position: relative;
        bottom:630px;
    }

    #bouton{
        margin-bottom : 20px;
    }
    
    footer p{
        font-size: 10px;
    }
    
    #logo-container{
        width: 80px;
        height: 15px;
    }

    .coms{
        margin-top: -160px;
    }

    #digital p{
        visibility: hidden;
    }

    #contacts{
        margin-top: -100px;
    }

}